@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Readex+Pro:wght@200;400;500;600;700&display=swap');

html body {
      margin: 0;
      padding: 0;
      background-color: rgb(209, 224, 224);
      font-family: 'Readex Pro', sans-serif;
      /* text-align: center; */
}

/*====================NAV====================*/

nav {
      /* width: 100%; */
      /* height: 50px; */
      display: flex;

      justify-content: space-between;
      padding: 10px;
}

.logo-container {
      max-width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.logo {
      width: 100%;
}

.navBtn {
      display: flex;
      color: magenta;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      padding: 15px;
      /* cursor: pointer; */
}

/*====================HOME====================*/

.home {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
}

/* .frontOverlay {
      position: relative;
      width: 100vw;
      height: 100vh;
      justify-content: space-evenly;
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.25)),
            url('./images/fmed-bg2.jpg');
      background-image: url('./images/fmed-bg1.jpgs');
      background-size: cover;
} */

.overlay {
      margin-top: 150px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

.tagline {
      color: aliceblue;
      text-align: center;
      font-size: 75px;
}

.primaryBtn {
      padding: 15px 30px;
      color: aliceblue;
      font-weight: bolder;
      border: none;
      border-radius: 50px;
      font-size: large;
      background: linear-gradient(45deg, magenta, orangered);
      /* cursor: pointer; */
}

.primaryBtn:hover {
      background: linear-gradient(45deg, orangered, magenta);
}

/*====================AUTH MODAL====================*/

.authOverlay {
      display: flex;
      justify-content: center;
      align-items: center;
}

.authModal {
      padding: 20px 30px;
      position: absolute;
      /* display: flex;
      flex-direction: column; */
      background-color: aliceblue;
      width: 450px;
      height: auto;
      border-radius: 10px;
}

.closeModalBtn {
      cursor: pointer;
      float: right;
}

.authTitle {
      margin: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-style: italic;
}

.authForm {
      margin: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
}

.authForm input {
      margin: 15px;
      border-color: lightgray;
      border-radius: 10px;
      padding: 15px;
}

.authForm button {
      margin: 20px;
      display: inline;
      padding: 15px 50px;
      color: aliceblue;
      font-weight: bold;
      border: none;
      border-radius: 50px;
      font-size: large;
      background: linear-gradient(45deg, magenta, orangered);
}

.authForm button:hover {
      background: linear-gradient(45deg, orangered, magenta);
}

.authModal h2 {
      text-align: center;
}

/*====================ONBOARDING====================*/

h2 {
      text-align: center;
      font-style: italic;
}

/* .onboarding {
      width: 100vw;
      height: 100%;
} */

.onboarding form {
      display: flex;
      justify-content: center;
}

.onboarding form section {
      display: flex;
      flex-direction: column;
      margin: 50px;
}

.onboarding .fullName {
      display: flex;
      flex-direction: row;
}

.onboarding form input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 35px 0;
      margin-right: 25px;
      padding: 15px 30px;
      border-radius: 10px;
      border: 2px solid gray;
}

.dobInput {
      display: flex;
      flex-direction: row;
}

.dobInput input {
      margin-right: 30px;
      width: 8%;
}

.genderInput {
      display: flex;
      flex-direction: row;
}

.genderInput label {
      padding: 15px 30px;
      border-radius: 10px;
      border: 2px solid gray;
      margin-top: 25px;
      margin-right: 25px;
}

.genderInput input[type='radio'] {
      display: none;
}

.genderInput input[type='radio']:checked + label {
      border: solid 2px rgb(221, 39, 22);
}

.showGender input[type='checkbox'] {
      display: inline-block;
}

.onboarding form input[type='submit'] {
      background-color: rgb(174, 186, 194);
      text-transform: uppercase;
      font-weight: 400;
      border: none;
}

.onboarding form input[type='submit']:hover {
      background-color: rgb(180, 179, 179);
}

.onboarding form input[type='submit']:active {
      background-color: rgb(226, 115, 115);
}
